<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nimbus Now</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="city1" placeholder="City 1">
        <input type="text" name="city2" placeholder="City 2">
        <button type="submit" name="Compare Weather"</button>
    </form>

<div class="comparison-container">
    <div class="city-container">

    </div>
    <div class="comparison-container">
        <div class="city-container">

    </div>
</div>
</body>
</html>